.toggle-button-cover {
    position: relative;
    width: 100%;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px; }
    .button-cover {
    height: 40px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255); }
  
  .button-cover, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  
  .button {
    position: relative;
    width: 74px;
    height: 36px;
    overflow: hidden; }
  
  .button.r, .button.r .layer {
    border-radius: 100px; }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3; }
  
  .knobs {
    z-index: 2; }
  
  .layer {
    width: 100%;
    background-color: rgb(207, 207, 207);
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
    z-index: 1; }
    #button-1 .knobs:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    -o-transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all; }
  
  #button-1 .checkbox:checked + .knobs:before {
    content: '';
    left: 42px;
    background-color: #fdfdfd; }
  
  #button-1 .checkbox:checked ~ .layer {
    background-color: mediumseagreen; }
  
  #button-1 .knobs, #button-1 .knobs:before, #button-1 .layer {
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all; }