body {
    padding:0px;
    height: 100vh;
    width: 100vw;
}
.text-input{
    margin:10px 0px;
}
.checkbox-input{
    margin:10px 0px;
    text-align:left;
}
.lls{
    max-width:20px;
}

.row{
    margin:.5rem;
    padding:0px;
}

.additional-options{
    padding-top: .3rem;
    padding-left: 0px;
    padding-right: 0px;
}

textarea:focus,
input[type="text"]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  color: #212529;
  background-color: #fff;
  border-color: rgba(80, 240, 59, 0.8);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(80, 240, 59, 0.4);
}

.popover-dismiss{
    outline: none;
    cursor: pointer;
    font-size: 1rem !important;
    text-decoration: none;
}

.popover-dismiss > i{
    font-size: inherit !important;
}

#file-drag-tracker{
    position: fixed;
    z-index: -1;

    display: none;
    height: 15rem;
    width: 15rem;
    border-radius: 15rem;
    background-color: aquamarine;

}

#file-drag-tracker > div {
    z-index: -1;
    margin-top: 50%;
    margin-left: 50%;
    margin-bottom: auto;
    margin-right: auto;

    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, 1);
}

#drag-overlay{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100001;
    display: none;
}