doctype html
head
  meta(charset='utf-8')
  title Setup Your presentation.
  meta(name='description' content='Form for creating a new presentation.')
  meta(name='author' content='labadum')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='shortcut icon' href='/static/favicon.svg' type='image/svg+xml')
script.
  function formSubmit(){
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
  if (this.readyState == 4) {
  if(this.status == 200){
  var resp = JSON.parse(this.response);
  location.replace(resp.newUrl);
  }
  else{
  document.getElementById("submit-status").innerHTML = this.responseText;
  }
  }
  };
  let form = document.getElementsByClassName('pres-setup-form-input');
  let formData = {};
  for(let a = 0; a < form.length; a++){
  if (form[a].tagName == 'INPUT'){
  formData[form[a].id] = form[a].value;
  }
  }
  console.log(formData);
  xhttp.open("POST", "/create_presentation/", true);2
  xhttp.setRequestHeader("Content-Type", "application/json");
  xhttp.send(JSON.stringify(formData));
  }
div
  div
    label(for='pres-name') Enter name: 
    input#pres-name.pres-setup-form-input(type='text' placeholder="Effects of gamma radiation on individual's mood." value='Laso na prase')
  label(for='resource-url') What is the url of your pdf?
  input#resource-url.pres-setup-form-input(type='text' placeholder='https://example.xyz/your/presentation.pdf' value='https://www.engineersgarage.com/sites/default/files/MAX232.pdf')
  button#submit-button(onclick='formSubmit()') Submit
#submit-status
