doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  link(rel='shortcut icon' href='/favicon.ico' type='image/svg+xml')
  title Presenting
  // Bootstrap CSS CDN
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')
  // Icons
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  // Font Awesome JS
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js' integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ' crossorigin='anonymous')
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js' integrity='sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY' crossorigin='anonymous')
  // PDFjs essentials (PDF rendering engine)
  script(type='text/javascript' src='/pdfjs_essential/pdf.js')
  script(type='text/javascript' src='/pdfjs_essential/text_layer_builder.js')
  link(type='text/css' href='/pdfjs_essential/text_layer_builder.css' rel='stylesheet')
  // Our Custom CSS
  link(type='text/css' href='/spectate/style/spectate.css' rel='stylesheet')
  // Tvoje java skripta ;)
  script.
    var presUrl = "#{presUrl}";
  script(type='text/javascript' src='/spectate/scripts/onDocReady.js')
  script(type='text/javascript' src='/spectate/scripts/ui.js')
  script(type='text/javascript' src='/spectate/scripts/presenter.js')
  script(type='text/javascript' src='/spectate/scripts/websocket.js')
.wrapper
  // CHAT panel
  nav#sidebar
    .container(style='height:80vh')
      .message.sent_by_me ahoj!!dsasadasdasdasdasdasdasdasdasdasdasdasdasdasdasdsadasd
      .message.sent_by_them &ccaron;us &ccaron;dasasdsadasdasdasdasdsadasdasdasdsadus
      .message.sent_by_me ahoj!!dsasadasdasdasdasdasdasdasdasdasdasdasdasdasdasdsadasd
      .message.sent_by_them &ccaron;us &ccaron;dasasdsadasdasdasdasdsadasdasdasdsadus
    .input-group.comp-cont(style='height:20vh')
      textarea#chat_composer.form-control(rows='5' placeholder='Type your message...')
      .input-group-btn
        button.btn.btn-default.btn-danger(type='submit' style='height: 100%; border-radius: 0px; border: 1px solid #ced4da; border-left-width: 0;')
          i.material-icons send
  #content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      // CONTROLS
      #controls.flex-column(style='max-width:90px')
        .btn-group-vertical.d-flex.justify-content-start
          // sidebar toggle
          button#sidebar_collapse.p-1.btn.btn-light.btn-block(type='button' onclick='toggleSidepanel()')
            i#sidepanel_state_icon.material-icons format_indent_decrease
            // reorder
          // prev next
          button#prev_page.btn.btn-light(style='padding: .2rem .4rem;' onclick='uiCheck(-1, true)')
            i.material-icons chevron_left
          button#next_page.btn.btn-light(style='padding: .2rem .4rem;' onclick='uiCheck(1, true)')
            i.material-icons chevron_right
          // page number
          .input-group.mb-3.bg-warning.input-group-sm.bg-light(style='margin: 0px !important;')
            .input-group-prepend
              span.input-group-text(style='margin: 0; padding-right: .1rem; padding-left: .1rem;')
                i.material-icons description
              // description flip_to_front	library_books import_contacts
            input#page_num.form-control.bg-light(type='text' style='margin: 0; padding-right: .1rem; padding-left: .1rem;' onchange='uiCheck(this.value)')
            input#page_count.form-control.bg-light(type='text' style='margin: 0; padding-right: .1rem; padding-left: .1rem;' disabled='')
          // go live
          button.p-1.form-check-inline.btn.bg-light
            label.form-check-label.button-content
              input#go_live_checkbox.form-check-input(type='checkbox' onchange='toggleLive(this.checked)' value='Live' style='height: 1.2rem; width: 1.2rem; margin: 0px; margin-right: .6rem;')
              i#live_icon.material-icons portable_wifi_off
              // Wifi_tethering 	settings_input_antenna
          button.btn.btn-light(href='./index.html') Home
          button.btn.btn-light(href='./edit.html') New
          button.btn.btn-light Browse
          button.btn.btn-light(href='./about.html') About us
  // PRESENTATION
  #pres_cont.container-fluid
    .row
      canvas#the-canvas.pdf-cont.mx-auto.d-block
// jQuery CDN - Slim version (=without AJAX)
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
// <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
// Popper.JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js' integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ' crossorigin='anonymous')
// Bootstrap JS
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js' integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm' crossorigin='anonymous')
